/* Color Variables based on your provided palette */
:root {
    --color-primary: #3A1078;
    --color-secondary: #D86ECC;
    --color-text: #000000;
    --color-accent: #CCC0FF;
    --color-white: #FFFFFF;
    --color-dark-purple: #2E1A65;
    --color-light-grey: #ebe9e9;
}

* {
    font-family: "Outfit", sans-serif;
}

/* Main Navigation Links (Desktop) */
.navbar-header .nav-btn {
    font-size: 20px;
    font-weight: 250;
    color: var(--color-dark-purple);
    padding: 10px 22px;
    transition: all 0.2s;
}

.navbar-header .nav-btn:hover {
    color: var(--color-secondary);
    font-weight: 250;

    transition: all 0.2s
}

/* Dropdown Menu Container (Desktop) */
.navbar-header .nav-btn-drop {
    font-size: 1rem;
    font-weight: 250;
    background: var(--color-accent);
    min-width: 180px; 
    margin-top: 0px;
}

/* Dropdown Links (Desktop) */
.navbar-header .nav-btn-drop .drop-link {
    transition: background-color 0.2s, color 0.2s;
}

.navbar-header .nav-btn-drop .drop-link:hover {
    background-color: var(--color-dark-purple);
    color: var(--color-white);
}

/* Contact Button */
.navbar-header .contact-btn {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    transition: all 0.2s;
}

.navbar-header .contact-btn:hover {
    background: var(--color-secondary);
    color: var(--color-white);
}


.navbar-header .mobile-menu-toggle i {
    color: var(--color-dark-purple);
    font-size: 1.5rem;
}


.navbar-header .mobile-menu-drop {
    background: var(--color-light-grey);
    padding: 1rem 0;
    font-size: 1.25rem; 
    font-weight: 250;
    color: var(--color-dark-purple);
}

/*(1st level) */
.navbar-header .mobile-dropdown-btn {
    font-size: 1.25rem; 
    font-weight: 300;
    color: var(--color-dark-purple);
    background: none;
    border: none;
    text-align: left;
}
/*(2nd level) */
.navbar-header .mobile-nav-btn-drop {
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--color-dark-purple);
}

/* (3rd level) */
.navbar-header .mobile-nav-btn-drop-inside {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-dark-purple);
}

.navbar-header .mobile-menu-drop .drop-link:hover,
.navbar-header .mobile-menu-drop .drop-link:focus {
    color: var(--color-secondary);
}

.slide-down {
    transform-origin: top;
    transition: all 0.25s ease;
    transform: translateY(-10px);
    opacity: 0;
}

/* When active */
.slide-down.open {
    transform: translateY(0);
    opacity: 1;
}
